# Don't track content of these folders #
# +-+-+-+-+-+-+-+-+-+-+-+ #


# Compiled source #
# +-+-+-+-+-+-+-+-+-+-+-+ #
.vscode

# Packages #
# +-+-+-+-+-+-+-+-+-+-+-+ #


# Files #
# +-+-+-+-+-+-+-+-+-+-+-+ #
**/.DS_Store
